/* СТАНДАРТНЫЕ СВОЙСТВА */
*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    
}
/* СТАНДАРТНЫЕ СВОЙСТВА */

/* IT IS FROM ANIMATIONS!!!! */
@keyframes shadow {
    from {box-shadow: 0 0 3px gray;}
    50% {box-shadow: 0 0 30px gray;}
    to {box-shadow: 0 0 3px gray;}
    }
@keyframes move {
    from, 
    to {
    top: 0;
    left: 0;
    }
    25%, 
    75% {top: 100%;}
    50% {top: 50%;}
    }
/* IT IS FROM ANIMATIONS!!!! */

.container{
    width: 1410px;  /* ШИРИНА САЙТА*/
    margin: 0 auto;
}
.header{
    padding-top: 15px;
    animation: shadow  4s 3 ease-in-out;
    padding-bottom: 10px;
    box-shadow: 0 0 10px gray;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    background-color: #E5E5E5;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-society{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.header-tg{
    margin-right: 30px;
    width: 25px;
}
.header-mail{
    margin-right: 30px;
    width: 25px;
}
.header-num{
    display: flex;
    align-items: center;
    text-decoration: none;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1E959B;
    margin-right: 60px;
}
.header-num__image{
    padding-right: 10px;
    width: 25px;
}
.header-info{
    display: flex;
    align-items: center;
    
}
.header-button{
    padding: 20px 60px 20px 60px;
    background: #F05670;
    border-radius: 15px;
    border: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
}
.header-button:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    animation: shadow  2s 3 ease-in-out;
}
.header-main{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}
.header-main__dev-title{
    margin: 0;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #1E959B;
}
.header-main__dev-description{
    margin-top: 25px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #3C3C3C;
    margin-bottom: 120px;
}
.header-bottom{
    padding-top: 20px;
    background-color: #1E959B;
    padding-bottom: 20px;
}
.header-bottom__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.scope-wrapper{
    margin-top: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 200px;
    flex-wrap: wrap;
}
.scope-info{
    padding: 40px 50px 30px 50px;
    margin-top: 20px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
    box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
    border-radius: 25px;
}
.scope-info:hover{
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
    box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
    border-radius: 25px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.scope-info__description{
    width: max-content;
}















































