/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1560px) {
.container{
    width: 1200px;
    margin: 0 auto;
}
.header-main__dev-image{
    width: 500px;
}
.header-main{
    justify-content: space-evenly;
}
.header-bottom__image{
    width: 120px;
}}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        width: 850px;
        margin: 0 auto;
    }
    .header-main__dev-image{
        width: 400px;
    }
    .header-main{
        justify-content: space-between;
    }
    .header-main{
        justify-content: left;
    }
    .header-bottom__image{
        width: 90px;
    }
    .scope-info{
        margin-right: 10px;
    }
    .scope-info__image{
        text-align: center;
        width: 90px;
        margin: 20%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 550px) and (max-width: 991px) {
    .container{
        width: 550px;
        margin: 0 auto;
    }
    .header-main__dev-image{
        width: 300px;
    }
    .header-society{
        display: none;
    }
    .header-main{
        justify-content: space-around;
    }
    .header-bottom__image{
        width: 50px;
    }
    .header-button{
        font-size: 15px;
    }
    .scope-wrapper{
        margin-right: 5px;
    }
    .scope-info{
        margin-right: 5px;
    }
    .scope-info__description{
        font-size: 15px;
    }
    .scope-info__image{
        width: 60px;
        margin: 20%;
    }
}


/* Landscape phones and smaller */
@media (max-width: 550px) {
    .container{
        width: 350px;
        margin: 0 auto;
    }
    .header-main__dev-image{
        width: 150px;
    }
    .header-main__dev-title{
        font-size: 15px;
    }
    .header-main__dev-description{
        font-size: 10px;
    }
    .header-society{
        display: none;
    }
    .header-main{
        justify-content: space-around;
    }
    .header-bottom__image{
        width: 40px;
    }
    .header-button{
        font-size: 10px;
        padding: 10px 10px;
    }
    .scope-wrapper{
        margin-top: 5px;
        margin-right: 3px;
    }
    .scope-info{
        margin-right: 3px;
    }
    .scope-info__description{
        font-size: 10px;
    }
    .scope-info__image{
        width: 40px;
        margin: 10%;
    }
}